FROM $baseImage AS habushu_builder

RUN echo "CUSTOM POETRY BUILDER STAGE TEMPLATE"

# Poetry and supporting plugin installations
RUN python -m ensurepip --upgrade && \
    pip install poetry==$poetryVersion && \
    poetry self add poetry-plugin-bundle@$poetryPluginBundleVersion

WORKDIR /work-dir
COPY $chownPlaceholder $anchorDirectory ./containerize-support/
RUN find . -type f -name pyproject.toml -exec sed -i 's|develop[[:blank:]]*=[[:blank:]]*true|develop = false|g' {} \;

USER root
WORKDIR /work-dir/containerize-support/$singleRepoProjectDir
ENV POETRY_CACHE_DIR="/.cache/pypoetry"

# Export target project's virtual environment to /opt/venv
RUN --mount=type=cache,target=${POETRY_CACHE_DIR} \
    poetry lock && \
    poetry bundle venv /opt/venv